<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>member</title>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Bootstrap CSS  & FontAwsome-->
<link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>
<!-- Default form subscription -->
<div class="card">
	<div class="card-header">
		<p class="h4 mb-2 text-center">Add member</p>
	</div>
	<div class="card-body">
		<form class="text-center border border-light p-5" action="#!">

			<!-- Name -->
			<input type="text" name="pname" id="name" class="form-control mb-4"
				placeholder="Product Name">

			<!-- Price -->
			<input type="text" name="price" id="price" class="form-control mb-4"
				placeholder="Product Price">

			<!-- Description -->
			<textarea class="form-control mb-4" id="desc" name="desc"
				placeholder="Product Description">member Position
                                 </textarea>
			<div class="custom-file mb-4">
				<input type="file" name="file" class="custom-file-input"
					id="customFile"> <label class="custom-file-label"
					for="customFile">member photo</label>
			</div>
			<!-- Sign in button -->
			<button class="btn btn-info btn-block" type="submit">add</button>
		</form>
	</div>
</div>
<!-- Bootstrap JS & jQuery -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
<!-- Default form subscription -->
</html>